<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/nav2.css">
    <link rel="stylesheet" href="/src/styles/main.css">
    <title>Nav2 Component</title>
</head>
<body>
    <header class="header" id="header">
        <div class="header__img">
            <img src="/src/assets/img/nav2/logo_2.png" alt="Logo_henet" class="header__img-logo">
        </div>
         <div class="header__nav">
            <a class="header__lista" href="#">Planos de Internet</a>
            <a class="header__lista" href="#">Sobre a HE-NET</a>
            <a class="header__lista" href="#">Redes Sociais</a>
            <a class="header__lista" href="#">Parceiros</a>
            <a class="header__lista" href="#">Trabalhe Conosco</a>
        </div>
    </header>
</body>
</html>