<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atendimento</title>
    <link rel="stylesheet" href="/src/styles/atendimento.css">
    <link rel="stylesheet" href="/src/styles/main.css">
</head>
<body>
    <div class="atendimento" id="atendimento">
        <div class="atendimento__column1">
            <h1>Atendimento <span>do seu jeito</span></h1>
            <p>Utilize nosso canal de atendimento para falar com a He-Net.</p>
        </div>
        <div class="atendimento__column2">   
            <h1>Comercial e suporte</h1>
            <img src="/src/assets/img/atendimento/whatsapp-icon" alt="Whatsapp icon">
            <h3>Atendimento 24H</h3>
            <h2>0800 000 9700</h2>
            <p>Ou, se preferir, ligue para gente!</p>
            <h2>(77) 3427-9700</h2>
        </div>
        <div class="atendimento__column3">
            <img src="/src/assets/img/atendimento/atendente.png" alt="Foto Atendente">
        </div>
    </div>
</body>
</html>