<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="stylesheet" href="/src/styles/app.css">
</head>
<body>
    <div class="app" id="app">
        <div class="app__column-1">
            <img src="/src/assets/img/app/celular.png" alt="Celular com tela do aplicativo He-Net">
        </div>
        <div class="app__column-2">
            <h1>App <span>minha He-Net</span></h1>
            <p>Gerencie tudo pelo App Minha He-Net sem sair do seu conforto. Em alguns toques na tela, conecte-se com as soluções mais rápidas e descomplicadas para seu plano de internet.</p>
            <img src="/src/assets/img/app/botao-google.png" alt=Play Store>
            <img src="/src/assets/img/app/botao-apple.png" alt=App Store>
        </div>
    </div>
    
</body>
</html>