<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="stylesheet" href="/src/styles/footer.css">
    <title>Footer</title>
</head>
<body>
    
    <footer class="footer" id="footer">
        <div class="footer__content">
            <div class="footer__lista">
                <nav class="footer__nav">
                    <a href="#" class="footer__lista-link">Planos de Internet</a>
                    <a href="#" class="footer__lista-link">Sobre a He-Net</a>
                    <a href="#" class="footer__lista-link">Redes Sociais</a>
                    <a href="#" class="footer__lista-link">Parceiros</a>
                    <a href="#" class="footer__lista-link">Vagas</a>
                </nav>    
                <img src="/src/assets/img/footer/henet.png" alt="Logo He-net" class="footer__img-lista">
            </div>

                <div class="footer__contatos">
                    <h4 class="footer__titulo">Contatos</h4>
                    <!-- O elemento <address> é feito exatamente para informações de contato de um site ou pessoa. -->
                    <div class="footer__contatos-lista"> 
                        <div class="footer__contato-item">
                            <img src="/src/assets/img/footer/whatsapp.png" alt="Ícone WhatsApp">
                            <span>77 98765 - 4567</span> 
                        </div>
                        

                        <div class="footer__contato-item">
                            <img src="/src/assets/img/footer/gmail.png" alt="Ícone Gmail">
                            <span>naoseihenet@gmail.com</span>
                        </div>

                        <div class="footer__contato-item">
                            <img src="/src/assets/img/footer/telefone.png" alt="Ícone Telefone">
                            <span>77 98765 - 4890</span>
                        </div>
                    </div>
                </div>

                <div class="footer__imagem">
                    <img src="/src/assets/img/footer/mapa.png" alt="Imagem de uma mapa com a logo da He-net">
                </div>
        </div>
    </footer>
    <div class="footer__direitos">
            <p>
                &copy; <time datetime="2025">2025</time> He-Net. Todos os direitos reservados.
            </p>
        </div>

</body>
</html>
