<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/planoswifi.css">
    <link rel="stylesheet" href="/src/styles/main.css">
    <title>Planos De Internet</title>
</head>
<body>
    <section class="planos" id="planos">
        <div class="planos__titulo">
             <h1><span>QUAL O PLANO MAIS </span>INDICADO PRA VOCÊ ?</h1>
        </div>

        <div class="planos__internet">
            <div class="planos__internet--laranja">
                <h5>PLANO <br> <span>BETA</span></h5>
                <img src="/src/assets/img/planos/wi-fi.png" alt="Icone Wi-fi">
                <h4>200 <span>Mb</span></h4>
                <button class="planos__bnt">CONTRATE JÁ</button>
            </div>

            <div class="planos__internet--branco">
                <h5>PLANO <br> <span>BINHO</span></h5>
                <img src="/src/assets/img/planos/wi-fi-azul.png" alt="Icone Wi-fi">
                <h4>300 <span class="test">Mb</span></h4>
                <button class="planos__bnt">CONTRATE JÁ</button>
            </div>

            <div class="planos__internet--laranja">
                <h5>PLANO <br> <span>GOJO</span></h5>
                <img src="/src/assets/img/planos/wi-fi.png" alt="Icone Wi-fi">
                <h4>500 <span>Mb</span></h4>
                <button class="planos__bnt">CONTRATE JÁ</button>
            </div>

            <div class="planos__internet--branco">
                <h5>PLANO <br> <span>KING</span></h5>
                <img src="/src/assets/img/planos/wi-fi-azul.png" alt="Icone Wi-fi">
                <h4>900 <span>Mb</span></h4>
                <button class="planos__bnt">CONTRATE JÁ</button>
            </div>

        </div>

    </section>
</body>
</html>