<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/styles/sociais.css">
    <link rel="stylesheet" href="../src/styles/main.css">
    <title>Sociais</title>
</head>
<body>
    <section class="sociais" id="sociais">

        <div class="sociais__titulo">
            <h1>CONECTE-SE COM AS <spam class="sociais__titulo--laranja">NOVIDADES DA HE-NET</spam></h1>
        </div>

        <div class="sociais__lista">

            <div class="sociais__icones">
                <div class="sociais__icones--laranja" >
                    <img src="/src/assets/img/sociais/instagram.png" alt="Icone-instagram">
                </div>
                <h4>INSTAGRAM</h4>
            </div>

            <div class="sociais__icones">
                <div class="sociais__icones--branco">
                    <img src="/src/assets/img/sociais/facebook.png" alt="Icone-facebook">
                </div>
                <h4>FACEBOOK</h4>
            </div>

            <div class="sociais__icones">
                <div class="sociais__icones--laranja">
                    <img src="/src/assets/img/sociais/linkedin.png" alt="Icone-linkedin">
                </div>
                <h4>LINKDIN</h4>
            </div>

            <div class="sociais__icones">
                <div class="sociais__icones--branco">
                     <img src="/src/assets/img/sociais/tik-tok.png" alt="Icone-tiktok">
                </div>
                <h4>TIK TOK</h4>
            </div>

            <div class="sociais__icones">
                <div class="sociais__icones--laranja">
                    <img src="/src/assets/img/sociais/download-da-nuvem.png" alt="Icone-download">
                </div>
                <h4>DOWNLOAD APP</h4>
            </div>
        </div>
    </section>
</body>
</html>